@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #0b0f13;
  --brand: #0ea5e9; /* sky-500 */
}

html, body, #root { height: 100%; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

